In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [2]:
spark = SparkSession.builder.appName("Jupyter").getOrCreate()

spark

24/12/02 04:20:09 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])

In [4]:
data

[('James', '', 'Smith', '36636', 'M', 3000),
 ('Michael', 'Rose', '', '40288', 'M', 4000),
 ('Robert', '', 'Williams', '42114', 'M', 4000),
 ('Maria', 'Anne', 'Jones', '39192', 'F', 4000),
 ('Jen', 'Mary', 'Brown', '', 'F', -1)]

In [5]:
df = spark.createDataFrame(data=data, schema=schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [6]:
df.writeTo("db.test").createOrReplace()

In [7]:
spark.stop()